@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: regular;
    color: black;
}

/* variaveris de cor */
:root{
    --cor0: #FFFFFF;
    --cor1: #E4E4E4;
    --cor2: #222222;
    --cor3: #616161;
    --cor4: rgb(71, 71, 255);
    --cor5: #9900ff;
    --cor6: #9900ff
}

span{
    color: var(--cor5);
    font-weight: bold;
}
/* Efeito Digitando */
.wrapper {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 23ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.3em;
    color: white;
  }
  


  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

/* Navbar */
nav{
    max-width: 100%;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--cor0);
    height: 20px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-shadow: 0px -11px 20px 0px black;
}

a{
    text-decoration: none;
    
}


ul{
    list-style: none;
}

/* #teste01{
    margin-left: 50px;
}

#teste02{
    margin-right: 50px;
} */

#logo{
   font-size: 1.4em;
}

#menu{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}


/* Conteudo Principal */
#maininicio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: white;
}
#textocentral{
    
    font-size: 2em;
}

.iconeprincipal>i{
    color: white;
}

.iconeprincipal{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: scale(5);
    margin: 20px 25px 0 30px;
    outline: 20px;
}

.iconeconversar{
    border: none;
    cursor: pointer;
    height: 60px;
    margin-left: 20px;
    background-color: var(--cor3);
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    
}



i:hover{
    color: 	var(--cor5);
    transform: scale(1.07);
    transition: .3s;
}

a:hover{
    color: var(--cor6);
    transition: .3s;
    font-size: 1.15em;
}

.iconeconversar:hover{
    background-color: var(--cor5);
    transform: scale(1.07);
    transition: .6s;
} 



/* Pagina Inicio */
#inicio{
    background: rgba(0, 0, 0, 0.822) url(img/desk.png) ;
    background-size: cover;
    background-blend-mode: darken;
    height: 100vh;
}

/* Pagina sobre */
#sobre{
    background-color: var(--cor0);
    height: 90vh;   
}

h3{
    font-size: 2.2em;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

hr{
    width: 400px;
    margin: 15px auto; 
    border: 1px solid #000; 
}

#sobre{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#mainsobre{
    background-color: var(--cor1);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.377);
    border-radius: 10px;
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}

#mainsobre>div>img{
    margin: 20px;
    height: 455px;
    border-radius: 4px;
}

#mainsobre>div>p{
    padding: 50px;
    font-size: 1.3em;
}

#iconessobre{
    font-size: 50px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    
}

/* Pagina Projetos */
#projetos{
    background-color: var(--cor1);
    height: 100vh;
}

#projectsection>div{
        width: 1200px;
        height: 600px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        
}

.cards{
    background-color: var(--cor0);
    width: 365px;
    height: 230px;
    padding: 8px;
    font-size: 1.1em;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.377);
    
}

.cards>span{
    font-size: 1.3em;
}

/* Pagina Contato */
#contato{
    background-color: var(--cor0);
    height: 100vh;
}

#contatototal{
    display: flex;
    justify-content: center;
    padding: 150px 0 0 0 ;
    
}

#imagemsobre>img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 13px 14px 0 0 #D9D9D9;
}

#conteudocontato{
    height: 350px;
    width: 1200px;
}

#contatoicons{
    font-size: 50px;
}

h5{
    font-size: 2.2em;
}

h6{
    font-size: 2em;
    color: #7E7E7E;
    line-height: 2.2em;
}

#conteudocontato>p{
    font-size: 1.3em;
}

/* Footer */

footer{
    height: 60px;
    width: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>p{  
    color: white;
}

/* Barra de rolagem */

  ::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }


#projectsection{
    max-width: 100%;
    margin: auto;
    padding: 6rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20px;
    width: 100%;
}

.projectcard{
    
    width: 500px;
    height: 600px;
    background-color: var(--cor0);
    border-radius: 10px;
}

#todolist{
    width: 500px;
    border-radius: 10px 10px 0 0;
}




.carousel{
        height: 500px;
        width: 500px;
    }

.carouselcard{
    background-color: var(--cor0);
    height: 500px;
    width: 500px;
}
.carouselcard2{
    background-color: var(--cor2);
    height: 500px;
    width: 500px;
}


@media screen and (max-width: 1200px) {
 
        #mainsobre{
            background-color: var(--cor1);
            box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.377);
            border-radius: 10px;
            width: 700px;
            height: 500px;
            display: flex;
            justify-content: space-between;
        }
        
        #mainsobre>div>img{display: none;  }
    
        #projetos{
            background-color: var(--cor1);
            height: 130vh;
        }

        #projectsection>div{
            width: 1200px;
            height: 600px;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
            gap: 1.5em;
            
    }
    

    .cards{
        background-color: var(--cor0);
        width: 365px;
        height: 230px;
        padding: 8px;
        font-size: 1.1em;
        border-radius: 10px;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.377);
        
    }
    
    .cards>span{
        font-size: 1.3em;
    }
    


    #conteudocontato>div{
        font-size: 1.1em;
        margin: 0 auto;
        width: 798px;
    }
}

@media screen and (max-width: 800px) {

    #projetos{
        background-color: var(--cor1);
        height: 200vh;
    }

    .cards{
        width: auto;
        height: 230px;
    }

        #conteudocontato>div{
        font-size: 1.1em;
        margin: 0 auto;
        width: 798px;
    }

    #conteudocontato>div{
        font-size: 1.1em;
        margin: 0 auto;
        width: 600px;
    }
}