@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Inter, sans-serif;
    font-weight: regular;
    color: var(--cor2);
}

/* variaveris de cor */
:root{
    --cor0: #FFFFFF;
    --cor1: #E4E4E4;
    --cor2: #222222;
    --cor3: #616161;
    --cor4: rgb(71, 71, 255);
}

/* Efeito Digitando */
.wrapper {
    height: 100vh;
    display: grid;
    place-items: center;
  }
  
  .typing-demo {
    width: 23ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.3em;
  }
  


  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

/* Navbar */
nav{
    max-width: 100%;
    margin: auto;
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--cor0);
    height: 20px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    box-shadow: 0px -11px 20px 0px black;
}

a{
    text-decoration: none;
    
}

ul{
    list-style: none;
}

#teste01{
    margin-left: 50px;
}

#teste02{
    margin-right: 50px;
}

#logo{
   font-size: 1.4em;
}

#menu{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}


/* Conteudo Principal */
#maininicio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#textocentral{
    font-size: 2em;
}

.iconeprincipal{
    background-color: transparent;
    border: none;
    cursor: pointer;
    transform: scale(5);
    margin: 20px 25px 0 30px;
    outline: 20px;
}

.iconeconversar{
    border: none;
    cursor: pointer;
    height: 60px;
    margin-left: 20px;
    background-color: var(--cor3);
    padding: 15px;
    border-radius: 15px;
    color: white;
    font-size: 1.3em;
    font-weight: bold;
    
}

i{
    color: var(--cor3);
}

i:hover{
    color: rgb(71, 71, 255);
    transform: scale(1.07);
    transition: .6s;
}

a:hover{
    color: rgb(71, 71, 255);
}

.iconeconversar:hover{
    background-color: rgb(71, 71, 255);
    transform: scale(1.07);
    transition: .6s;
} 



/* Pagina Inicio */
#inicio{
    background-color: var(--cor1);
    height: 100vh;
}

/* Pagina sobre */
#sobre{
    background-color: var(--cor0);
    height: 100vh;   
}

#mainsobre{
   display: flex;
   justify-content: center;
   padding: 150px 0 0 0 ;
}

h3{
    font-size: 2.2em;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

hr{
    width: 400px;
    margin: 15px auto; 
    border: 1px solid #000; 
}

.textosprincipais{
    font-size: 1.7em;
    line-height: 2; 
    width: 1200px;
}

.destaque{
    color: blue;
}

#fotodeperfil{
    width: 300px;
    border-radius: 30px;
    box-shadow: 13px 14px 0 0 #D9D9D9;
}

#conteudosobre{
    display: inline-block;
    
}

/* Pagina Projetos */
#projetos{
    background-color: var(--cor1);
    height: 100vh;

}

#todosprojetos{
    display: flex;
    flex: row;
    justify-content: space-around;
}

.fotosprojeto{
    width: 465px;
    border-radius: 22px 22px 0 0;
}

.projetoCard{
    background-color: white;
    width: 465px;
    height: 673px;
    border-radius: 22px;
    box-shadow: 0 0 20px 0  rgba(0, 0, 0, 0.192);
}

.projetoCard:hover{
    transform: scale(1.07);
    transition: .6s;
}

.subtexto{
    font-size: 20px;
    padding: 10px 0 0 0;
    margin: 0 auto;
    width: 400px;
}

#icons{
    font-size: 40px; 
}

.iconescards{
    display: flex;
    justify-content: center;
    gap: 1.5em;
    padding: 10px 0 0 0;
}

#iconesvisitar{
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.viewicon{
    background-color: rgb(212, 212, 212);
    width: 150px;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    border-radius: 22px;
    border: none;
}

.viewicon:hover{
    transform: scale(1.07);
}


/* Pagina Contato */
#contato{
    background-color: var(--cor0);
    height: 100vh;
}

#contatototal{
    display: flex;
    justify-content: center;
    padding: 150px 0 0 0 ;
    
}

#imagemsobre>img{
    width: 300px;
    height: 300px;
    border-radius: 30px;
    box-shadow: 13px 14px 0 0 #D9D9D9;
}

#conteudocontato{
    height: 350px;
    width: 1200px;
}

#contatoicons{
    font-size: 50px;
}

h5{
    font-size: 2.2em;
}

h6{
    font-size: 2em;
    color: #7E7E7E;
    line-height: 2.2em;
}

#conteudocontato>p{
    font-size: 1.3em;
}

/* Footer */

footer{
    height: 60px;
    width: auto;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>p{  
    color: white;
}

/* Barra de rolagem */

  ::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  @media screen and (min-width: 1530px){
    #sumir{
        display: none;
    }
  }

@media screen and (min-width: 1150px) and (max-width: 1530px){

    #sumir{
        display: none;
    }

    #mainsobre{
        padding: 100px 0 0 0 ;
     }
     .textosprincipais{
         font-size: 1.3em;
         line-height: 2; 
         width: 650px;

     }
     #fotodeperfil{
         width: 250px;
         height: 250px;
         border-radius: 30px;
         box-shadow: 13px 14px 0 0 #D9D9D9;
     }
    .fotosprojeto{
        width: 373px;
        border-radius: 22px 22px 0 0;
    }
    .projetoCard{
        background-color: white;
        width: 373px;
        height: 603px;
        border-radius: 22px;
        box-shadow: 0 0 20px 0  rgba(0, 0, 0, 0.192);
    }
    .subtexto{
        font-size: 20px;
        padding: 2px;
        margin: 0 auto;
        width: 373px;
    }
    #iconesvisitar{
        padding-top: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #conteudocontato{
        height: 350px;
        width: 800px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1204px){

    
    .titulosdescricao{
        padding: 10px;
    }

    .iconescards{
        display: none;
    }
    
    #projetos{
        height: 138vh;
    }

    #mainsobre{
        padding: 100px 0 0 0 ;
     }
     .textosprincipais{
         font-size: 1.2em;
         line-height: 2; 
         width: 650px;
     }

     #todosprojetos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

     #fotodeperfil{
         width: 0;
         height: 250px;
         border-radius: 30px;
         box-shadow: 13px 14px 0 0 #D9D9D9;
     }

    .fotosprojeto{
        width: 320px;
        border-radius: 22px 22px 0 0;
    }

    .projetoCard{
        background-color: white;
        width: 320px;
        height: 530px;
        border-radius: 22px;
        box-shadow: 0 0 20px 0  rgba(0, 0, 0, 0.192);
        margin: 30px;
    }
    .subtexto{
        font-size: 20px;
        padding: 2px;
        margin: 0 auto;
        width: 300px;
    }
    #iconesvisitar{
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #conteudocontato{
        padding: 30px;
        height: 350px;
        width: 800px;
    }
}
@media screen and (min-width: 656px) and (max-width: 768px){
    


    .titulosdescricao{
        padding: 10px;
    }

    .iconescards{
        display: none;
    }
    
    #projetos{
        height: 138vh;
    }

    #mainsobre{
        padding: 100px 0 0 0 ;
     }
     .textosprincipais{
         font-size: 1.2em;
         line-height: 2; 
         width: 650px;
         
    
     }

     #todosprojetos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

     #fotodeperfil{
         width: 0;
         height: 250px;
         border-radius: 30px;
         box-shadow: 13px 14px 0 0 #D9D9D9;
     }

    .fotosprojeto{
        width: 300px;
        border-radius: 22px 22px 0 0;
    }

    .projetoCard{
        background-color: white;
        width: 300px;
        height: 530px;
        border-radius: 22px;
        box-shadow: 0 0 20px 0  rgba(0, 0, 0, 0.192);
        margin: 25px;
        
    }
    .subtexto{
        font-size: 15px;
        padding: 7px;
        margin: 0 auto;
        width: 300px;
    }
    #iconesvisitar{
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #conteudocontato{
        padding: 25px 0 0 25px;
        height: 250px;
        width: 400px;
    }
    #imagemsobre>img{
        width: 250px;
        height: 250px;
    }
    h6{
        line-height: 1em;
    }
    .viewicon{
        background-color: rgb(212, 212, 212);
        width: 125px;
    }
}

@media screen and (max-width: 655px){
    
    #sumir{
        display: none;
    }

    .typing-demo{
        font-size: 0.7em;
    }

    .titulosdescricao{
        padding: 10px;
    }

    #projetos{
        height: 235vh;
    }

    #mainsobre{
        padding: 100px 0 0 0 ;
     }
     .textosprincipais{
        font-size: 1.2em;
        line-height: 2; 
        width: 400px;
    
   
    }

     #todosprojetos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

     #fotodeperfil{
         width: 0;
         height: 250px;
         border-radius: 30px;
         box-shadow: 13px 14px 0 0 #D9D9D9;
     }

    .fotosprojeto{
        width: 300px;
        border-radius: 22px 22px 0 0;
    }

    .projetoCard{
        background-color: white;
        width: 300px;
        height: 530px;
        border-radius: 22px;
        box-shadow: 0 0 20px 0  rgba(0, 0, 0, 0.192);
        margin: 25px;
        
    }
    .subtexto{
        font-size: 15px;
        padding: 7px;
        margin: 0 auto;
        width: 300px;
    }
    #iconesvisitar{
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #conteudocontato{
        padding: 25px 0 0 25px;
        height: 250px;
        width: 400px;
        margin: 0 auto;
    }
    #imagemsobre{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #imagemsobre>img{
        width: 250px;
        height: 250px;
    }
    h6{
        line-height: 1em;
    }
    .viewicon{
        background-color: rgb(212, 212, 212);
        width: 125px;
    }
    #contatototal{
        display: inline;
        justify-content: center;
        padding: 150px 0 0 0 ;
        
    }
    #conteudocontato>p{
        font-size: 1.3em;
    }


    a{
        text-decoration: none;
        
    }
    
    ul{
        list-style: none;
    }
    
    #teste01{
        margin-left: 0px;
    }
    
    #teste02{
        margin-right: 0px;
    }
    
    #logo{
       font-size: 1em;
    }
    
    #menu{
        display: flex;
        flex-direction: row;
        gap: 1em;
    }

}




 
